<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=cp1251">
    <!--    <title>All Students</title>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script th:src="@{/resourses/globalbtn.js}"></script>
</head>

<body>
<div th:replace="../views/header :: header"></div>
<div class="container">
    <h2 class="text-danger">Добавление группы</h2>
    <form action="savestudent" th:action="@{/faculty/new}" method="post" th:object="${faculty}">
        <div class="form-group">
            <label for="faculty-name">Название</label>
            <input id="faculty-name" class="form-control"
                   th:field="*{name}"/>
            <span th:if="${#fields.hasErrors('name')}"
                  th:errors="${faculty.name}" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="faculty-direction">Направление</label>
            <input id="faculty-direction" class="form-control"
                   th:field="*{direction}"/>
            <span th:if="${#fields.hasErrors('direction')}"
                  th:errors="${faculty.direction}" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="faculty-year">Год</label>
            <input id="faculty-year" class="form-control"
                   th:field="*{year}"/>
            <span th:if="${#fields.hasErrors('year')}"
                  th:errors="${faculty.year}" class="text-danger"></span>
        </div>
        <button type="submit" id="btnsavestudents">Сохранить</button>
    </form>
</div>
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <table id="book-table" class="table">-->
<!--            <form id="add-faculty-form" th:action="@{/faculty/new}" method="post" th:method="POST">-->

<!--                <thead>-->
<!--                <tr>-->
<!--                    <label for="faculty">Название</label>-->
<!--                    <input id="faculty" name="faculty" class="form-control" type="text"/>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <label for="direction">Направление</label>-->
<!--                    <input id="direction" name="direction" class="form-control" type="text"/>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <label for="year">Год</label>-->
<!--                    <input id="year" name="year" class="form-control" type="text"/>-->
<!--                </tr>-->
<!--                <p>-->
<!--                    <button type="submit" id="btn-add" class="btn btn-primary">Сохранить</button>-->
<!--                </p>-->
<!--                </thead>-->
<!--            </form>-->
<!--        </table>-->
<!--    </div>-->
</body>
</html>