<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=cp1251">
    <title>All Students</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script th:src="@{/resources/globalbtn.js}"></script>

</head>
<body>

<div th:replace="../views/header :: header"></div>

<div class="container">
    <h2 class="text-danger">Добавление студента</h2>
    <form action="savestudent" th:action="@{/faculty/{facultyId}/students/new(facultyId = ${facultyId})}" method="post" th:object="${customsStudent}">
        <div class="form-group">
            <label for="student-surname">Фамилия</label>
            <input id="student-surname" class="form-control"
                   th:field="*{surname}"/>
            <span th:if="${#fields.hasErrors('surname')}"
                  th:errors="${student.surname}" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="student-name">Имя</label>
            <input id="student-name" class="form-control"
                   th:field="*{name}"/>
            <span th:if="${#fields.hasErrors('name')}"
                  th:errors="${student.name}" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="student-patronymic">Отчество</label>
            <input id="student-patronymic" class="form-control"
                   th:field="*{patronymic}"/>
            <span th:if="${#fields.hasErrors('patronymic')}"
                  th:errors="${student.patronymic}" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="faculty">Группа</label>
            <select id="faculty" name="faculty" class="form-control">
                <option th:field="*{faculty}" th:each="elements: ${faculty}"
                        th:text="${elements.getName()}"
                        th:value="${elements.getId()}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="student-username">Имя пользователя</label>
            <input id="student-username" class="form-control"
                   th:field="*{username}"/>
            <span th:if="${#fields.hasErrors('username')}"
                  th:errors="${student.username}" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="student-password">Пароль</label>
            <input id="student-password" class="form-control"
                   th:field="*{password}"/>
            <span th:if="${#fields.hasErrors('password')}"
                  th:errors="${student.password}" class="text-danger"></span>
        </div>
        <button type="submit" id="btnsavestudents">Сохранить</button>
    </form>
</div>
</body>
</html>