<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=cp1251">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Все группы</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script th:src="@{/resources/globalbtn.js}"></script>
    <script th:src="@{/resources/curator.js}"></script>


</head>
<body>

<div th:replace="../views/header :: header"></div>

<div class="container">
    <h3 class="text-danger">Все группы:</h3>
    <button class="btn btn-outline-primary" type="button" onclick="addGroup()"> Добавить группу</button>
    <table class="table">
        <table class="table">
            <thead>
            <th>Название</th>
            <th>Направление</th>
            <th>Год поступления</th>
            </thead>
            <tbody id="tableBodyFaculties">
            <tr th:each="faculty:${faculties}" th:id="'allFaculties'+${faculty.getId()}">
                <td th:text="${faculty.name}">
                </td>
                <td th:text="${faculty.direction.name}">
                </td>
                <td th:text="${faculty.year}">
                </td>
                <td>
                    <button type="button" id="editFaculty" data-toggle="modal" class="btn btn-outline-primary"
                            th:value="${faculty.getId()}" th:onclick="'goToEditFaculty(\'' + ${faculty.getId()} + '\');'">
                        Редактирование
                    </button>
                </td>
                <td>
                    <button type="button" id="deleteFaculty" data-toggle="modal" class="btn btn-outline-primary"
                            th:value="${faculty.getId()}" th:onclick="'deleteFaculty(\'' + ${faculty.getId()} + '\');'">
                        Удаление
                    </button>
                <td>
                    <button class="btn btn-outline-primary" th:onclick="'goToStudents(\'' + ${faculty.getId()} + '\');'"> Список студентов</button>
                </td>
                </td>
            </tr>
            </tbody>
        </table>
    </table>
</div>
</body>
</html>