<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=cp1251">
    <title>Все группы</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script th:src="@{/resources/globalbtn.js}"></script>
</head>
<body>

<div th:replace="../views/header :: header"></div>

<div class="container">
    <h2 class="text-danger">Все группы:</h2>
    <button type="button" onclick="addGroup()"> Добавить группу </button>
    <table class="table">
        <table class="table">
            <thead>
            <th>Название</th>
            <th>Направление</th>
            <th>Год поступления</th>
            </thead>
            <tbody>
            <tr th:each="faculty:${faculties}">
                <td th:text="${faculty.name}">
                </td>
                <td th:text="${faculty.direction.name}">
                </td>
                <td th:text="${faculty.year}">
                </td>
                <td>
                    <button type="button" id="goToTasks" data-toggle="modal" class="btn-default"
                            th:value="${faculty.getId()}" th:onclick="'goToTask(\'' + ${faculty.getId()} + '\');'"> Подробнее
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </table>
</div>
</body>
</html>