<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=cp1251">
    <title>Все практики</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script th:src="@{/resources/globalbtn.js}"></script>
</head>
<body>

<div th:replace="../views/header :: header"></div>
<div class="container">
    <div class="row">
        <h3>Название</h3>
        <p th:text="${faculty.getName()}"></p>
        <h3>Направление</h3>
        <p class="inline" th:text="${faculty.getDirection().getCode()}"></p>
        <p class="inline" th:text="${faculty.getDirection().getName()}"></p>
        <h3>Год поступления</h3>
        <p th:text="${faculty.getYear()}"></p>
    </div>
</div>
</body>
</html>