<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=cp1251">
    <!--    <title>All Students</title>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script th:src="@{/resources/globalbtn.js}"></script>
</head>

<body>
<div th:replace="../views/header :: header"></div>
<div class="container">
    <h2 class="text-danger">Добавление дополнительной информации о студенте</h2>
    <form action="savestudentCase" th:action="@{/student/information}" method="post">
        <div class="form-group">
            <label for="student-surname-case">Фамилия в родительном падеже:</label>
            <input id="student-surname-case"
                   th:value="${studentInform.getSurnameCase()}? ${studentInform.getSurnameCase()} : #{''}"
                   name="surnameCase" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="student-name-case">Имя в родительном падеже:</label>
            <input id="student-name-case" name="nameCase"
                   th:value="${studentInform.getNameCase()}? ${studentInform.getNameCase()} : #{''}"
                   class="form-control"/>
        </div>
        <div class="form-group">
            <label for="student-patronymic-case">Отчество в родительном падеже:</label>
            <input id="student-patronymic-case"
                   th:value="${studentInform.getPatronymicCase()}? ${studentInform.getPatronymicCase()} : #{''}"
                   name="patronymicCase" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="student-patronymic-case">Форма обучения</label>
            <input id="studentFormOfStudy"
                   th:value="${studentInform.getFormOfStudy()}? ${studentInform.getFormOfStudy()} : #{''}"
                   name="formOfStudy" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="student-patronymic-case">Форма обучения</label>
            <input id="studentFormOfStudy"
                   th:value="${studentInform.getFormOfStudy()}? ${studentInform.getFormOfStudy()} : #{''}"
                   name="formOfStudy" class="form-control"/>
        </div>
        <button class="btn btn-outline-primary" type="submit" id="btnsavestudentCase">Сохранить</button>
    </form>
</div>
</body>
</html>