<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=cp1251">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Задания</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script th:src="@{/resources/globalbtn.js}"></script>
    <script th:src="@{/resources/task.js}"></script>
    <link rel="stylesheet" type="text/css" th:src="@{/resources/textarea.css}">
<body>

<div th:replace="../views/header :: header"></div>

<div class="container">
    <h2 class="text-danger">Все задания на практику:</h2>
    <form action="https://www.overleaf.com/docs" method="post" target="_blank">
        <button id="add-task-btn" type="button"
                class="btn btn-outline-primary" data-toggle="modal"> Добавить
        </button>

        <button type="button" id="getGant"
                class="btn btn-outline-primary" data-toggle="modal"> Диаграмма Ганта
        </button>


        <textarea rows="500" cols="90" name="snip" th:text="${template.toString()}" style="display:none">

            </textarea>
        <!--            <input type="hidden" name="snip_uri" type="file" accept=".txt" id="btn1"-->

        <!--                   value=""><br>-->

        <input type="submit" class="btn btn-outline-primary" value="Сгенерировать отчёт">
    </form>


    <h2 class="text-danger"></h2>
    <table class="table">
        <table class="table">
            <thead>
            <th>Дата начала</th>
            <th>Дата конца</th>
            <th>Задание</th>
            </thead>
            <tbody id="taskstbody">
            <tr th:each="task:${tasks}" th:id="'taskRow' + ${task.getId()}">
                <td th:text="${#dates.format(task.getDatastart(), 'dd.MM.yyyy')}">
                </td>
                <td th:text="${#dates.format(task.getDataend(), 'dd.MM.yyyy')}">
                </td>
                <td th:text="${task.getTask()} " maxlength="225">
                </td>
                <td>
                    <div class="d-grid gap-3">
                        <button type="button" class="btn btn-outline-primary btn-xs" id="edit-button"
                                data-toggle="modal"
                                th:value="${task.getId()}" th:onclick="'editTask(\'' + ${task.getId()} + '\');'">
                            <span class="glyphicon glyphicon-pencil"></span> Редактировать
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-xs" id="delete-button"
                                data-toggle="modal"
                                th:value="${task.getId()}" th:onclick="'deleteTask(\'' + ${task.getId()} + '\');'">
                            <span class="glyphicon glyphicon-trash"></span> Удалить
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </table>
</div>
</body>
</html>