.style {
    display: none;
    visibility: hidden;
}

.inline {
    display: inline;
}

/*.btn {*/
/*    margin: 1em;*/
/*}*/


/*.form-control[type="password"] {*/
/*    width: 60%;*/
/*    float: left;*/
/*}*/

/*.btn[type="button"] {*/
/*    width: 30%;*/
/*    float: left;*/
/*    margin-left: 10%;*/
/*}*/