<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=cp1251">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Все кураторы</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script th:src="@{/resources/globalbtn.js}"></script>
    <script th:src="@{/resources/deansOffice.js}"></script>
</head>
<body>

<div th:replace="../views/header :: header"></div>

<div class="container">

    <button id="add-task-btn" type="button"
            class="btn btn-outline-primary" data-toggle="modal">
        <span class="glyphicon glyphicon-plus"></span>
    </button>

    <h2 class="text-danger">Все кураторы:</h2>
    <table class="table">
        <table class="table">
            <thead>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Преподавательская должность</th>
            <th>Email</th>
            </thead>
            <tbody id="tableBodyAllCurators">
            <tr th:each="curator:${curators}" th:id="'curator'+${curator.getId()}">
                <td th:text="${curator.surname}">
                </td>
                <td th:text="${curator.name}">
                </td>
                <td th:text="${curator.patronymic}">
                </td>
                <td th:text="${curator.degree}">
                </td>
                <td th:text="${curator.email}">
                </td>
                <td>
                    <div class="d-grid gap-3">
                        <button type="button" class="btn btn-outline-primary" id="edit-button"
                                data-toggle="modal"
                                th:value="${curator.getId()}" th:onclick="'editTask(\'' + ${curator.getId()} + '\');'">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="button" class="btn btn-outline-primary" id="delete-button"
                                data-toggle="modal"
                                th:value="${curator.getId()}"
                                th:onclick="'deleteCurator(\'' + ${curator.getId()} + '\');'">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <button type="button" id="goToTasks" data-toggle="modal" class="btn btn-outline-primary"
                                th:value="${curator.getId()}" th:onclick="'goToTask(\'' + ${curator.getId()} + '\');'">
                            Подробнее
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </table>
</div>
</body>
</html>