<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=cp1251">
    <title>Все места по прохождению практик</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script th:src="@{/resources/globalbtn.js}"></script>
</head>
<body>

<div th:replace="../views/header :: header"></div>

<div class="container">
    <h2 class="text-danger">Все студенты:</h2>
    <table class="table">
        <table class="table">
            <thead>
            <th>Название</th>
            <th>Направление</th>
            <th>Местоположение</th>
            </thead>
            <tbody>
            <tr th:each="placeofpractice:${allplaceofpractice}">
                <td th:text="${placeofpractice.getName()}">
                </td>
                <td th:text="${placeofpractice.getTypeOfDirection().getName()}">
                </td>
                <td th:text="${placeofpractice.getLocation()}">
                </td>
            </tr>
            </tbody>
        </table>
    </table>
</div>
</body>
</html>