<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=cp1251">
    <title>Информация о месте прохождения практики:</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script th:src="@{/resources/globalbtn.js}"></script>
</head>

<body>
<div th:replace="../views/header :: header"></div>
<div class="container">
    <div class="row">
        <h3>Название</h3>
        <p th:text="${placeofpractice.getName()}"></p>
        <h3>Направление</h3>
        <p th:text="${placeofpractice.getTypeOfDirection().getName()}"></p>
        <h3>Местоположение</h3>
        <p th:text="${placeofpractice.getLocation()}"></p>
        <td>
            <button class="btn btn-outline-primary" onclick="goToSupervisors()"> Список кураторов</button>
        </td>
    </div>
</div>
</body>
</html>