<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=cp1251">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script th:src="@{/resources/statistics.js}"></script>
    <link rel="stylesheet" th:href="@{/resources/statistic.css}">
    <script th:src="@{/resources/globalbtn.js}"></script>
</head>

<body>
<div th:replace="../views/header :: header"></div>
<div class="container" style="margin:0 auto" align=center>
    <input name="from" id="from" type="date" onChange="setMinDateInStatistics()">
    <input name="to" id="to" type="date">
    <button onclick="sendRequest()"> Получить </button>
    <figure class="highcharts-figure">
        <div id="container"></div>
    </figure>
</div>
</body>
</html>