<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=cp1251">
    <title>Информация о кураторе по месту прохождения практики:</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script th:src="@{/resourses/globalbtn.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/resourses/textarea.css}">
</head>
<!-- Страница информации о пользователе -->
<body id="body">
<div th:replace="../views/header :: header"></div>
<div class="container">
    <div class="row">
        <h3>ФИО</h3>
        <p th:text="${supervisor.getSurname()}"></p>
        <p th:text="${supervisor.getName()}"></p>
        <p th:text="${supervisor.getPatronymic()}"></p>
        <h3>Должность</h3>
        <p th:text="${supervisor.getPost()}"></p>
        <h3>Компания</h3>
        <p th:text="${supervisor.getPlaceOfPractice}"></p>
    </div>
</div>
</body>
</html>