<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=cp1251">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/header.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script th:src="@{/resources/global.js}"></script>
    <script th:src="@{/resources/task.js}"></script>
    <script th:src="@{/resources/style.css}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var root = /*[[@{/}]]*/ 'default';
        console.log(root);
        /*]]>*/
    </script>
</head>
<body>
<div th:replace="../views/header :: header"></div>
<!-- Таблица, в которой необходимо заполнить строки для добавления записи -->
<div class="container">
    <div class="row">
        <table id="book-table" class="table">
            <form id="add-task-form" th:action="@{/tasks/{practicId}/addTask/save(practicId=${practice.getId()})}" method="POST">
                <thead>
                <tr>
                    <label for="Datastart">Дата начала</label>
                    <input id="Datastart" name="Datastart"  class="form-control" type="date"
                           th:value="${practice.getStarttime()}"
                           th:min="${practice.getStarttime()}"
                           th:max="${practice.getEndtime()}"
                           th:onchange="'setMinDateInDateInput()'"
                    />
                </tr>
                <tr>
                    <label for="Dataend">Дата конца</label>
                    <input id="Dataend" name="Dataend"  class="form-control" type="date"
                           th:value="${practice.getStarttime()}"
                           th:min="${practice.getStarttime()}"
                           th:max="${practice.getEndtime()}"
                    />
                </tr>
                <tr>
                    <label for="Task">Задание</label>
                    <input id="Task" name="Task"  class="form-control" type="text"/>
                </tr>
                <tr>
                    <label for="Description">Описание</label>
                    <p><textarea id="Description" rows="10" cols="45" name="Description"></textarea></p>
                    <!--<input id="Description" name="Description"  class="form-control"  type="text"/>-->
                </tr>
            <p>
                <button type="submit"  id="btn-add" class="btn btn-primary">Сохранить</button>
            </p>
                </thead>
            </form>
        </table>
    </div>
</div>

</body>
</html>