<!DOCTYPE html>
<html  lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
<!--    <title>Title</title>-->
<!--    <script src="../../resourses/gant/js/jquery.fn.gantt.min.js"></script>-->
<!--    <script src="../../resourses/gant/js/jquery.min.js"></script>-->
<!--    <script src="../../resourses/gant/js/gantfill.js"></script>-->
<!--    <link href="../../resourses/gant/css/style.css" type="text/css" rel="stylesheet">-->
<!--    <link href="../../resourses/gant/css/bootstrap.min.css" type="text/css" rel="stylesheet">-->
<!--    <script src="../../resourses/gant/js/bootstrap.min.js"></script>-->
    <script th:src="@{/resourses/gant/js/jquery.fn.gantt.min.js}"></script>
    <script th:src="@{/resourses/gant/js/jquery.min.js}"></script>
    <script th:src="@{/resourses/gant/js/gantfill.js}"></script>
    <script th:src="@{/resourses/gant/css/style.css}"></script>
    <script th:src="@{/resourses/gant/css/bootstrap.min.css}"></script>
    <script th:src="@{/resourses/gant/js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="gantt"></div>
</body>
</html>