<!DOCTYPE html>
<html xml:lang="ru" xmlns:th="http://www.thymeleaf.org" lang="ru"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=cp1251">
    <script th:src="@{/resources/globalbtn.js}"></script>
</head>

<body>
<nav class="navbar navbar-default" th:fragment="header" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">IMIT system</a>
        </div>
<!--            <div id="forme" th:href="@{/students/students}" sec:authorize="isAuthenticated()">-->
<!--                <a th:href="@{/students/students}" class="navbar-brand">Добавить студента</a>-->
<!--            </div>-->
<!--            <div id="cataloguebooks_header" th:href="@{/practice/1}" sec:authorize="isAuthenticated()">-->
<!--                <a th:href="@{/practice/1}" class="navbar-brand">Практика</a>-->
<!--            </div>-->
            <ul class="nav navbar-nav">
<!--                <li><a sec:authorize="hasRole('ANONYMOUS')" th:href="@{/students/}">Students</a></li>-->
<!--                <li><a sec:authorize="hasRole('ADMIN')" th:href="@{/students/}">Students</a></li>-->
<!--                <li><a sec:authorize="hasRole('USER')" th:href="@{/practice}">Practice</a></li>-->
<!--                <li><a sec:authorize="hasRole('USER')" th:href="@{/tasks/1}">Tasks</a></li>-->

                <li><a th:href="@{/students/}">Students</a></li>-->
                <li><a th:href="@{/students/}">Students</a></li>
                <li><a th:href="@{/practice/1}">Practice</a></li>
                <li><a th:href="@{/tasks/1}">Tasks</a></li>

                <li sec:authorize="isAuthenticated()">
                    <p class="navbar-text"><a id="logout" href="#">Logout</a></p>
                    <form id="logout-form" th:action="@{/logout}" method="post">
                    </form>
                </li>
                <li  sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}">Sign In</a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/register}">Register</a>
                </li>

            </ul>
        </div>
</nav>
<!--<nav class="navbar navbar-default" th:fragment="header">-->
<!--    <div class="container-fluid">-->
<!--        <div class="navbar-header">-->
<!--            <a class="navbar-brand" href="#">IMIT system</a>-->
<!--        </div>-->
<!--        <ul class="nav navbar-nav">-->
<!--            <li><a th:href="@{/}">Домашняя страница</a></li>-->
<!--            <li class="dropdown">-->
<!--                <a href="#" class="dropdown-toggle"-->
<!--                   data-toggle="dropdown" role="button"-->
<!--                   aria-expanded="false">Студенты<span class="caret"></span></a>-->
<!--                <ul class="dropdown-menu" role="menu">-->
<!--                    <li><a th:href="@{/students/add}">Добавит студента</a></li>-->
<!--                    <li><a th:href="@{/students/students}">Все студенты</a></li>-->
<!--                    &lt;!&ndash;<li><a th:href="@{/practice/1}">Practice</a></li>-->
<!--                    <li><a th:href="@{/tasks/1}">Task</a></li>&ndash;&gt;-->
<!--                </ul>-->
<!--            <li><a th:href="@{/practice/1}">Практики</a></li>-->
<!--            <li><a th:href="@{/tasks/1}">Задания</a></li>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</nav>-->
</body>
</html>