<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Students</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="../views/header :: header"></div>

<div class="container">
    <h2 class="text-danger">All Students:</h2>
    <table class="table">
        <table class="table">
            <thead>
            <th>Id</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Post</th>
            </thead>
            <tbody>
            <tr th:each="practices:${practice}">
                <td th:text="${practices.getId()}">
                </td>
                <td th:text="${practices.getStarttime()}">
                </td>
                <td th:text="${practices.getEndtime()}">
                </td>
                <td th:text="${practices.getPost()}">
                </td>
            </tr>
            </tbody>
        </table>
    </table>
</div>
</body>
</html>