<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=cp1251">
    <title>Задания</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script th:src="@{/resourses/globalbtn.js}"></script>
    <script th:src="@{/resourses/task.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var root = /*[[@{/}]]*/ 'default';
        console.log(root);
        /*]]>*/
    </script>
</head>
<body>

<div th:replace="../views/header :: header"></div>

<div class="container">
    <h2 class="text-danger">Все задания на практику:</h2>
    <button id="add-task-btn" type="button"
            class="btn-default" data-toggle="modal">
            <span class="glyphicon glyphicon-plus"></span> Добавить
    </button>
    <button id="getGant" type="button"
            class="btn-default" data-toggle="modal">
        <span class="glyphicon glyphicon"></span> Диаграмма Ганта
    </button>
    <h2 class="text-danger"></h2>
    <table class="table">
        <table class="table">
            <thead>
            <th>Дата начала</th>
            <th>Дата конца</th>
            <th>Задание</th>
            </thead>
            <tbody id="taskstbody">
            <tr th:each="tasks:${task}" th:id="'taskRow' + ${tasks.getId()}">
                <td th:text="${#dates.format(tasks.getDatastart(), 'dd.MM.yyyy')}">
                </td>
                <td th:text="${#dates.format(tasks.getDataend(), 'dd.MM.yyyy')}">
                </td>
                <td th:text="${tasks.getTask()} " maxlength="225">
                </td>
                <td>
                    <button type="button" id="edit-button" data-toggle="modal" class="btn-default"
                            th:value="${tasks.getId()}" th:onclick="'editTask(\'' + ${tasks.getId()} + '\');'">
                    <span class="glyphicon glyphicon-pencil"></span> Редактировать
                    </button>
                    <button type="button" id="delete-button" data-toggle="modal" class="btn-default"
                            th:value="${tasks.getId()}" th:onclick="'deleteTask(\'' + ${tasks.getId()} + '\');'">
                        <span class="glyphicon glyphicon-trash"></span> Удалить
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </table>
</div>
</body>
</html>