<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=cp1251">
    <title>Информация о месте прохождения практики:</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script th:src="@{/resourses/globalbtn.js}"></script>

</head>
<!-- Страница информации о пользователе -->
<body id = "body">
<div th:replace="../views/header :: header"></div>
<div class = "container">
    <div class="row">
        <h1>Название</h1>
        <p th:text="${placesofpractice.getName()}"></p>
        <h2>Направление</h2>
        <p th:text="${placesofpractice.getDirection()}"></p>
        <h2>Местоположение</h2>
        <p th:text="${placesofpractice.getLocation()}"></p>
    </div>
</div>
</body>
</html>